<!doctype html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

	<title>Making Sense presentation template</title>


	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/reveal.js/5.1.0/reset.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/reveal.js/5.1.0/reveal.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/reveal.js/5.1.0/theme/white.min.css">
	<link rel="stylesheet" href="ms.css">

	<!-- Theme used for syntax highlighting of code -->
	<link rel="stylesheet"
		href="https://cdnjs.cloudflare.com/ajax/libs/reveal.js/5.1.0/plugin/highlight/monokai.min.css">

</head>

<body>
	<div class="reveal">
		<div class="logo"><img src="ill_making_sense_flat.svg" width="200px" height="200px" /></div>
		<div class="slides">
			<!-- External markdown: here, slides are separated by three new lines, vertical slides by two (NB: change \n to \r\n under Windows) -->
			<section data-markdown="slides.md" data-separator="^\r?\n---\r?\n$"
				data-separator-vertical="^\r?\n----\r?\n$" data-separator-notes="^Note:" data-charset="UTF-8"
				data-background-image="ill_making_sense_flat.svg"></section>
			<!-- Internal markdown: here, slides are separated by newline + three dashes + newline, vertical slides identical but two dashes -->
			<section data-markdown data-separator="^\r?\n---\r?\n$" data-separator-vertical="^\r?\n----\r?\n$">
				<script type="text/template">
# Inline markdown

---

## Inline 1.1

Content I.1.1

--

## Inline 1.2

Content I.1.2

---

## Inline 2

Content I.2
                    </script>
			</section>
		</div>
	</div>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/reveal.js/5.1.0/reveal.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/reveal.js/5.1.0/plugin/markdown/markdown.min.js"></script>

	<script>
		// Plugin configuration : https://revealjs.com/plugins/
		Reveal.initialize({
			controls: true,
			progress: true,
			history: true,
			center: true,
			plugins: [RevealMarkdown]
		});
	</script>
</body>

</html>