.logo-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-items: center;
}

.logo-container img {
  align-items: center;
  height: auto;
  width: "45%";
}

.logo-MS {
  filter: invert(1); /* Inverser les couleurs */
}

.dark-mode .logo-MS {
  filter: none; /* Inverser les couleurs */
}

.presenters {
  font-size: x-large;
}
